/* reusable and modular parts of the code */
body {
  background-color: orange;
  width: 960px;
}

header {
  margin: 0px auto;
  text-align: center;
  background-color: aliceblue;
}

section {
  width: 960px;
}

