
.smallBox {
  width: 480px;
  height: 500px;
  margin: 0px auto;
}

h1 {
  text-align: center;
  margin: 0px auto;
}

h2 {
  /* border: 1px solid black; */
  text-align: center;
  margin: 0px auto;
}

h3 {
  /* border: 1px solid black; */
  text-align: center;
  margin: 0px auto;
}

h4 {
  /* border: 1px solid black; */
  text-align: center;
  margin: 0px auto;
}

h5 {
  /* border: 1px solid black; */
  margin: 0px auto;
  text-align: center;
  background-color: burlywood;
}

.b {
  background-color: aqua;
}

.c {
  background-color: aquamarine;
}

.d {
  background-color: beige;
}

.e {
  background-color: bisque;
}

.f {
  background-color: blanchedalmond;
}

.g {
  background-color: blue;
}

.h {
  background-color: blueviolet;
}


@media only screen and (min-width: 480px) and (max-width: 767px){

  header {
    width: 480px;
    height: 75px;
    line-height: 75px;
  }
  
  .b {
    width: 480px;
    height: 150px;
    line-height: 150px;
  }

  .c {
    width: 480px; 
    height: 125px;
    line-height: 125px;
  }

  .d {
    width: 480px;
    height: 125px;
    line-height: 125px;
  }

  .e {
    width: 240px;
    height: 250px;
    display: inline-block;
    float: left;
    /* float: left; */
  }

  .f {
    width: 240px;
    height: 250px;
    display: inline-block;
    float: left;
    /* float: right; */
  }

  .g {
    clear: both;
    width: 240px;
    height: 250px;
    display: inline-block;
    float: left;
    /* float: right; */
  }

  .h {
    width: 240px;
    height: 250px;
    display: inline-block;
    float: left;
    /* float: right; */
  }

  h5 {
    clear: both;
    width: 480px;
    height: 80px;
    line-height: 80px;
  }

  h4 {
    width: 240px;
    height: 250px;
    line-height: 250px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px){

  .smallBox {
    display: inline;
  }
  header {
    width: 960px;
    height: 100px;
    line-height: 100px;
    background-color: yellowgreen;
  }

  .b {
    width: 200px;
    height: 600px;
    line-height: 600px;
    float: left;
    background-color: yellow;
  }

  .c {
    width: 380px;
    height: 200px;
    line-height: 200px;
    float: left;
    background-color: whitesmoke
  }

  .d {
    clear: right;
    width: 380px;
    height: 200px;
    line-height: 200px;
    float: right;
    background-color: wheat
  }

  h4 {
    clear: right;
    width: 190px;
    height: 250px;
    line-height: 250px;
    float: left;
  }

  .e {
    background-color: violet;
    /* float: left; */
  }

  .f {
    background-color: turquoise;
    /* float: left; */
  }

  .g {
    background-color: tomato;
    /* float: left; */
  }

  .h {
    background-color: thistle;
    /* float: left; */
  }

  h5 {
    /* clear: left; */
    width: 760px;
    height: 150px;
    line-height: 150px;
    float: right;
    background-color: teal;
  }
}