/* reusable and modular parts of the code */

header {
  border: 1px solid black;
  margin: 0px auto;
}

h1 {
  border: 1px solid black;
}

h2 {
  border: 1px solid black;
}

h3 {
  border: 1px solid black;
}

h4 {
  border: 1px solid black;
}

footer {
  border: 1px solid black;
  margin: 0px auto;
}
